<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RoslynInsertionTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RoslynInsertionTool.Settings>
      <setting name="VisualStudioRepoAzdoUserName" serializeAs="String">
        <value>vslsnap@microsoft.com</value>
      </setting>
      <setting name="VisualStudioRepoProjectName" serializeAs="String">
        <value>DevDiv</value>
      </setting>
      <setting name="BuildDropPath" serializeAs="String">
        <value>\\cpvsbuild\drops\Roslyn</value>
      </setting>
      <setting name="InsertionBranchName" serializeAs="String">
        <value>dev/vslsnap/insertions/</value>
      </setting>
      <setting name="ComponentBuildQueueName" serializeAs="String">
        <value>Roslyn-Signed</value>
      </setting>
      <setting name="BuildConfig" serializeAs="String">
        <value>Release</value>
      </setting>
      <setting name="InsertCoreXTPackages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InsertDevDivSourceFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InsertWillowPackages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InsertionName" serializeAs="String">
        <value>Roslyn</value>
      </setting>
      <setting name="RetainInsertedBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeyVaultUrl" serializeAs="String">
        <value>https://roslyninfra.vault.azure.net:443</value>
      </setting>
      <setting name="VisualStudioRepoSecretName" serializeAs="String">
        <value>vslsnap-vso-auth-token</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>1950a258-227b-4e31-a9cf-717495945fc2</value>
      </setting>
      <setting name="QueueValidationBuild" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ValidationBuildQueueName" serializeAs="String">
        <value>DD-VS-VAL-VSALL (dev15 efforts)</value>
      </setting>
      <setting name="RunDDRITsInValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunRPSInValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateCoreXTLibraries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogFileLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateDraftPr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComponentBuildSecretName" serializeAs="String">
        <value>vslsnap-build-auth-token</value>
      </setting>
      <setting name="VisualStudioRepoAzdoUri" serializeAs="String">
        <value>https://devdiv.visualstudio.com/DefaultCollection</value>
      </setting>
      <setting name="SkipCoreXTPackages" serializeAs="String">
        <value />
      </setting>
    </RoslynInsertionTool.Settings>
  </applicationSettings>
</configuration>
