<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog log.log"
      >
  <variable name="NormalLayout"
            value="${message}"/>
  <variable name="VerboseLayout"
            value="${longdate} ${level:upperCase=true} ${message}  
                    (${callsite:includSourcePath=true})"            />
  <variable name="ExceptionVerboseLayout"
            value="${VerboseLayout} (${stacktrace:topFrames=10})  
                     ${exception:format=ToString}"                  />
  <targets async="true">
    <target name="file" xsi:type="File" fileName="rit.log"
            layout="${VerboseLayout}">
    </target>
    <target name="fileAsException"
            xsi:type="FilteringWrapper"
            condition="length('${exception}')>0">
      <target xsi:type="File"
              fileName="rit.log"
              layout="${ExceptionVerboseLayout}" />
    </target>
    
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${NormalLayout}"/>
    <target xsi:type="FilteringWrapper"
            condition="length('${exception}')>0"
            name="consoleException">
      <target xsi:type="ColoredConsole"
              layout="${ExceptionVerboseLayout}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,consoleException" />
    <logger name="*" minlevel="Trace" writeTo="file,fileAsException" />
  </rules>
</nlog>