<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VstsMergeTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <VstsMergeTool.Settings>
            <setting name="AccountName" serializeAs="String">
                <value>Devdiv</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>vslsnap@microsoft.com</value>
            </setting>
            <setting name="RepositoryID" serializeAs="String">
                <value>c7f34b55-ede8-4e52-916f-2b3301c84492</value>
            </setting>
            <setting name="Reviewer" serializeAs="String">
                <value>10a2f33b-3b3d-47a9-a22f-6bb09247bb63</value>
            </setting>
            <setting name="TFSProjectName" serializeAs="String">
                <value>DevDiv</value>
            </setting>
            <setting name="KeyVaultUrl" serializeAs="String">
                <value>https://roslyninfra.vault.azure.net:443</value>
            </setting>
            <setting name="VsoSecretName" serializeAs="String">
                <value>vslsnap-vso-auth-token</value>
            </setting>
            <setting name="ApplicationId" serializeAs="String">
                <value>1950a258-227b-4e31-a9cf-717495945fc2</value>
            </setting>
        </VstsMergeTool.Settings>
    </applicationSettings>
</configuration>
