###############################################################################
# Build Artifacts
###############################################################################
[Aa]rtifacts/
[Bb]inaries/
[Bb]in/
[Oo]bj/
[Xx]64/

###############################################################################
# NuGet
###############################################################################
*.lock.json
*.nuget.props
*.nuget.targets
NuGet.exe
[Pp]ackages/

###############################################################################
# Visual Studio
###############################################################################
.vs/
*.user
