<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vs-devcore" value="https://www.myget.org/F/vs-devcore/api/v3/index.json" />
    <add key="system-commandline" value="https://dotnet.myget.org/F/system-commandline/api/v3/index.json" />
  </packageSources>
</configuration>
