<config>
  <repo owner="dotnet" name="roslyn" mergeOwners="dibarbet">
    <!--
      VS versions under servicing:
        VS 2019: https://docs.microsoft.com/en-us/lifecycle/products/visual-studio-2019
        VS 2022: https://docs.microsoft.com/en-us/lifecycle/products/visual-studio-2022
    -->

    <!--
      Roslyn feature branches, for example merging main into a 'features/example' branch
      with dibarbet as the owner every week.
      <merge from="main" to="features/example" owners="dibarbet" frequency="weekly" />
    -->
  </repo>

  <repo owner="dotnet" name="roslyn-sdk">
    <!-- dotnet/roslyn-sdk doesn't take enough servicing fixes to warrant
         automatic PRs from a release branch back to main. This entry is left
         as a placeholder for if/when we need this functionality again. -->
  </repo>

  <!-- razor -->
  <repo owner="dotnet" name="razor" mergeOwners="davidwengier">
  </repo>

  <!-- Project System repo -->
  <repo owner="dotnet" name="project-system">
    <!-- dotnet/project-system doesn't take enough servicing fixes to warrant
         automatic PRs from a release branch back to main. This entry is left
         as a placeholder for if/when we need this functionality again. -->
  </repo>

  <repo owner="dotnet" name="templates">
    <merge from="dev15.9.x" to="dev16.0.x" />
    <merge from="dev16.0.x" to="main" />
  </repo>

  <repo owner="dotnet" name="fsharp">
    <!-- regular branch flow -->
    <merge from="release/dev17.13" to="main" />
    <merge from="main" to="release/dev17.14" />
    <!-- feature branches -->
    <merge from="main" to="feature/lsp" owners="0101" frequency="daily" />
  </repo>

  <!-- roslyn-analyzer branches -->
  <repo owner="dotnet" name="roslyn-analyzers">
    <!-- dotnet/roslyn-analyzers doesn't take enough servicing fixes to warrant
         automatic PRs from a release branch back to main. This entry is left
         as a placeholder for if/when we need this functionality again. -->
  </repo>

  <!-- msbuild language service branches -->
  <repo owner="dotnet" name="msbuild-language-service">
    <merge from="main" to="dev/prototype" />
  </repo>

  <!-- dotnet-format service branches -->
  <repo owner="dotnet" name="format">
    <!-- dotnet/format doesn't take enough servicing fixes to warrant
         automatic PRs from a release branch back to main. This entry is left
         as a placeholder for if/when we need this functionality again. -->
  </repo>

  <repo owner="dotnet" name="linker" mergeOwners="agocke,sbomer">
    <merge from="main" to="feature/damAnalyzer" />
  </repo>
</config>
