<config>
  <repo owner="dotnet" name="roslyn" mergeOwners="dibarbet">
    <!-- For a list of VS versions under servicing, see https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing#support-options-for-enterprise-and-professional-customers -->
    <!-- Roslyn servicing branches (flowing between releases) -->
    <merge from="dev15.9.x" to="release/dev16.4-vs-deps" />
    <merge from="release/dev16.4-vs-deps" to="release/dev16.7-vs-deps" />
    <merge from="release/dev16.7-vs-deps" to="release/dev16.9-vs-deps" />

    <!-- Roslyn last servicing branch (flowing into current branch) -->
    <merge from="release/dev16.9-vs-deps" to="release/dev16.10" />

    <!-- Roslyn non-vs-deps branches (flowing between releases) -->
    <merge from="release/dev16.10" to="release/dev16.11" />
    <merge from="release/dev16.11" to="main" />

    <!-- Roslyn vs-deps branches (flowing between releases) -->
    <merge from="release/dev16.10-vs-deps" to="release/dev16.11-vs-deps" />
    <merge from="release/dev16.11-vs-deps" to="main-vs-deps" />
    <merge from="release/dev17.0-preview1-vs-deps" to="main-vs-deps" />  

    <!-- Roslyn branches (from non-vs-deps to vs-deps) -->
    <merge from="release/dev16.10" to="release/dev16.10-vs-deps" />
    <merge from="release/dev16.11" to="release/dev16.11-vs-deps" />
    <merge from="main" to="main-vs-deps" />

    <!-- Roslyn feature branches -->
    <merge from="main" to="features/source-generators" owners="chsienki" frequency="weekly" />
    <merge from="main" to="features/FileScopedNamespaces" owners="chsienki" frequency="weekly" />
    <merge from="main" to="features/interpolated-string-constants" owners="333fred,kevinsun-dev" frequency="weekly" />
    <merge from="main" to="features/list-patterns" owners="333fred" frequency="weekly" />
    <merge from="main" to="features/interpolated-string" owners="333fred" frequency="weekly" />
    <merge from="main" to="features/improved-definite-assignment" owners="RikkiGibson" frequency="weekly" />
    <merge from="main" to="features/caller-argument-expression" owners="333fred" frequency="weekly" />
    <merge from="main" to="features/extended-property-patterns" owners="333fred" frequency="weekly" />
    <merge from="main" to="features/value_tracking" owners="ryzngard" frequency="weekly" />
  </repo>

  <repo owner="dotnet" name="roslyn-sdk">
    <merge from="dev16.0.x" to="main" />
    <merge from="main" to="dev17.0" />
  </repo>

  <!-- Project System repo -->
  <repo owner="dotnet" name="project-system">
    <merge from="dev15.0.x" to="dev15.9.x" />
    <merge from="dev15.9.x" to="dev16.0.x" />
    <merge from="dev16.0.x" to="dev16.7.x" />
    <merge from="dev16.7.x" to="dev16.8.x" />
    <merge from="dev16.8.x" to="dev16.9.x" />
    <merge from="dev16.9.x" to="main" />
    <merge from="main" to="dev17.0.x" owners="dmonroym" />
  </repo>
  
  <!-- NuGet.BuildTasks repo -->
  <repo owner="dotnet" name="NuGet.BuildTasks">
    <merge from="main" to="dev17.0.x" />
  </repo>

  <repo owner="dotnet" name="templates">
    <merge from="dev15.9.x" to="dev16.0.x" />
    <merge from="dev16.0.x" to="master" />
  </repo>

  <repo owner="dotnet" name="fsharp">
    <!-- releases -->
    <merge from="dev16.0" to="main" /><!-- latest LTS -->
    <merge from="release/dev16.8" to="main" /><!-- latest RTM -->
    <merge from="release/dev16.9" to="release/dev16.10" />

    <!-- FCS -->
    <merge from="release/dev16.9" to="release/fcs" />
    <merge from="release/fcs" to="main" />

    <!-- regular branch flow -->
    <merge from="main" to="release/dev16.10" />
    <merge from="main" to="release/dev17.0" />
    <merge from="feature/auto-widen" to="feature/erased-unions" />
  </repo>

  <!-- roslyn-analyzer branches -->
  <repo owner="dotnet" name="roslyn-analyzers">
    <merge from="2.9.x" to="main" />
    <merge from="release/5.0.1xx" to="release/5.0.2xx" />
    <merge from="release/5.0.2xx" to="release/5.0.3xx" />
    <merge from="release/5.0.3xx" to="main" />
    <merge from="release/6.0.1xx-preview3" to="release/6.0.1xx-preview4" />
    <merge from="release/6.0.1xx-preview4" to="release/6.0.1xx" />
    <merge from="main" to="release/6.0.1xx" />
  </repo>

  <!-- testimpact branches -->
  <repo owner="dotnet" name="testimpact">
    <merge from="dev16.7.x" to="master" />
    <merge from="master" to="feature/vnext" />
  </repo>

  <!-- msbuild language service branches -->
  <repo owner="dotnet" name="msbuild-language-service">
    <merge from="master" to="dev/prototype" />
  </repo>

  <!-- dotnet-format service branches -->
  <repo owner="dotnet" name="format" mergeOwners="joerobich">
    <merge from="main" to="release/6.0" />
  </repo>
</config>
