<config>
  <repo owner="dotnet" name="roslyn">
    <!-- Roslyn branches (non-vs-deps) (flowing between releases) -->
    <merge from="dev15.0.x" to="dev15.9.x" />
    <merge from="dev15.9.x" to="dev16.0" />
    <merge from="dev16.0" to="dev16.1-preview2" />
    <merge from="dev16.1-preview2" to="dev16.1" />
    <merge from="dev16.1" to="master" />

    <!-- Roslyn branches (between vs-deps branches) -->
    <merge from="dev15.0.x-vs-deps" to="dev15.9.x-vs-deps" />
    <merge from="dev15.9.x-vs-deps" to="dev16.0-vs-deps" />
    <merge from="dev16.0-vs-deps" to="dev16.1-preview2-vs-deps" />
    <merge from="dev16.1-preview2-vs-deps" to="dev16.1-vs-deps" />
    <merge from="dev16.1-vs-deps" to="master-vs-deps" />

    <!-- Roslyn branches (from non-vs-deps to vs-deps) -->
    <merge from="dev15.0.x" to="dev15.0.x-vs-deps" />
    <merge from="dev15.9.x" to="dev15.9.x-vs-deps" />
    <merge from="dev16.0" to="dev16.0-vs-deps" />
    <merge from="dev16.1-preview2" to="dev16.1-preview2-vs-deps" />
    <merge from="dev16.1" to="dev16.1-vs-deps" />
    <merge from="master" to="master-vs-deps" />

    <!-- Feature branches -->
    <merge from="dev16.1-preview2" to="features/editorconfig-in-compiler" />
    <merge from="master" to="features/lspSupport" />
    <merge from="master-vs-deps" to="features/razorSupport2" />
    <merge from="master" to="features/NullableDogfood" frequency="weekly" />
    <merge from="master" to="demos/records" />
  </repo>
  <repo owner="dotnet" name="roslyn-sdk">
    <merge from="dev16.0.x" to="master" />
  </repo>
  <repo owner="dotnet" name="project-system">
    <merge from="dev15.0.x" to="dev15.9.x" />
    <merge from="dev15.9.x" to="dev16.0.x" />
    <merge from="dev16.0.x" to="dev16.1.x" />
    <merge from="dev16.1.x" to="master" />
  </repo>
  <repo owner="dotnet" name="cli">
    <merge from="release/2.0.0" to="release/2.1.1xx" />
    <merge from="release/2.1.1xx" to="release/2.1.2xx" />
    <merge from="release/2.1.2xx" to="release/2.1.3xx" />
    <merge from="release/2.1.3xx" to="release/2.1.4xx" />
    <merge from="release/2.1.4xx" to="release/2.1.5xx" />
    <merge from="release/2.1.5xx" to="release/2.1.6xx" />
    <merge from="release/2.1.5xx" to="release/2.2.1xx" />
    <merge from="release/2.2.1xx" to="release/2.2.2xx" />
    <merge from="release/2.1.6xx" to="release/2.2.2xx" />
    <merge from="release/2.2.2xx" to="release/3.0.1xx" />
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="dotnet" name="sdk">
    <merge from="release/2.0.0" to="release/2.1" />
    <merge from="release/2.1" to="release/2.1.1xx" />
    <merge from="release/2.1.1xx" to="release/2.1.2xx" />
    <merge from="release/2.1.2xx" to="release/2.1.3xx" />
    <merge from="release/2.1.3xx" to="release/2.1.4xx" />
    <merge from="release/2.1.4xx" to="release/2.1.5xx" />
    <merge from="release/2.1.5xx" to="release/2.1.6xx" />
    <merge from="release/2.1.5xx" to="release/2.2.1xx" />
    <merge from="release/2.2.1xx" to="release/2.2.2xx" />
    <merge from="release/2.1.6xx" to="release/2.2.2xx" />
    <merge from="release/2.2.2xx" to="release/3.0.1xx" />
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="dotnet" name="toolset">
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="dotnet" name="core-sdk">
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="Microsoft" name="visualfsharp">
    <!-- shipped branches back to master -->
    <merge from="dev16.0" to="master" />

    <!-- regular branch flow -->
    <merge from="master" to="nullness" />

    <!-- fsharp5 -->
    <merge from="dev16.1" to="fsharp5" />
    <merge from="master" to="fsharp5" />
  </repo>
    
  <!-- roslyn-analyzer branches -->
  <repo owner="dotnet" name="roslyn-analyzers">
    <merge from="2.9.x" to="master" />
  </repo>
</config>
