<config>
  <repo owner="dotnet" name="roslyn">
    <!-- Roslyn branches (non-vs-deps) (flowing between releases) -->
    <merge from="dev15.0.x" to="dev15.9.x" />
    <merge from="dev15.9.x" to="dev16.0" />
    <merge from="dev16.0-preview3" to="dev16.0" />
    <merge from="dev16.0" to="master" />

    <!-- Roslyn branches (between vs-deps branches) -->
    <merge from="dev15.0.x-vs-deps" to="dev15.9.x-vs-deps" />
    <merge from="dev15.9.x-vs-deps" to="dev16.0-vs-deps" />
    <merge from="dev16.0-preview3-vs-deps" to="dev16.0-vs-deps" />
    <merge from="dev16.0-vs-deps" to="master-vs-deps" />

    <!-- Roslyn branches (from non-vs-deps to vs-deps) -->
    <merge from="dev15.0.x" to="dev15.0.x-vs-deps" />
    <merge from="dev15.9.x" to="dev15.9.x-vs-deps" />
    <merge from="dev16.0-preview3" to="dev16.0-preview3-vs-deps" />
    <merge from="dev16.0" to="dev16.0-vs-deps" />
    <merge from="master" to="master-vs-deps" />

    <!-- Feature branches -->
    <merge from="master" to="features/editorconfig-in-compiler" />
    <merge from="master" to="features/NullableDogfood" />
    <merge from="master" to="features/readonly-members" />
  </repo>
  <repo owner="dotnet" name="testimpact">
    <merge from="dev15.8.x" to="dev15.9.x" />
    <merge from="dev15.9.x" to="dev16.0.x" />
    <merge from="dev16.0.x" to="master" />

    <merge from="dev15.9-preview2" to="dev15.9-preview3" />
    <merge from="dev15.9-preview3" to="dev15.9.x" />
  </repo>
  <repo owner="dotnet" name="project-system">
    <merge from="dev15.0.x" to="dev15.9.x" />
    <merge from="dev15.9.x" to="dev16.0.x" />
    <merge from="dev15.9.x" to="contributors" />
    <merge from="dev16.0.x" to="master" />
    <merge from="contributors" to="master" />
  </repo>
  <repo owner="dotnet" name="cli">
    <merge from="release/2.0.0" to="release/2.1.1xx" />
    <merge from="release/2.1.1xx" to="release/2.1.2xx" />
    <merge from="release/2.1.2xx" to="release/2.1.3xx" />
    <merge from="release/2.1.3xx" to="release/2.1.4xx" />
    <merge from="release/2.1.4xx" to="release/2.1.5xx" />
    <merge from="release/2.1.5xx" to="release/2.1.6xx" />
    <merge from="release/2.1.5xx" to="release/2.2.1xx" />
    <merge from="release/2.2.1xx" to="release/2.2.2xx" />
    <merge from="release/2.1.6xx" to="release/2.2.2xx" />
    <merge from="release/2.2.2xx" to="release/3.0.1xx" />
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="dotnet" name="sdk">
    <merge from="release/2.0.0" to="release/2.1" />
    <merge from="release/2.1" to="release/2.1.1xx" />
    <merge from="release/2.1.1xx" to="release/2.1.2xx" />
    <merge from="release/2.1.2xx" to="release/2.1.3xx" />
    <merge from="release/2.1.3xx" to="release/2.1.4xx" />
    <merge from="release/2.1.4xx" to="release/2.1.5xx" />
    <merge from="release/2.1.5xx" to="release/2.1.6xx" />
    <merge from="release/2.1.5xx" to="release/2.2.1xx" />
    <merge from="release/2.2.1xx" to="release/2.2.2xx" />
    <merge from="release/2.1.6xx" to="release/2.2.2xx" />
    <merge from="release/2.2.2xx" to="release/3.0.1xx" />
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="dotnet" name="toolset">
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="dotnet" name="core-sdk">
    <merge from="release/3.0.1xx" to="master" />
  </repo>
  <repo owner="Microsoft" name="visualfsharp">
    <!-- shipped branches back to master -->
    <merge from="dev15.8" to="master" />
    <merge from="dev15.9" to="master" />

    <!-- regular branch flow -->
    <merge from="dev15.8" to="dev15.9" />
    <merge from="dev15.9" to="dev16.0" />
    <merge from="dev16.0-preview1" to="dev16.0" />
    <merge from="master" to="dev16.1" />
    <merge from="dev16.0" to="dev16.1" />
    <merge from="master" to="nullness" />
  </repo>
</config>
