<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildRetainer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BuildRetainer.Settings>
            <setting name="UserName" serializeAs="String">
                <value>vslsnap@microsoft.com</value>
            </setting>
            <setting name="VSTSUrl" serializeAs="String">
                <value>https://devdiv.visualstudio.com/DefaultCollection</value>
            </setting>
            <setting name="TFSProjectName" serializeAs="String">
                <value>DevDiv</value>
            </setting>
            <setting name="RepositoryName" serializeAs="String">
                <value>VS</value>
            </setting>
            <setting name="VsoSecretName" serializeAs="String">
                <value>vslsnap-vso-auth-token</value>
            </setting>
            <setting name="KeyVaultUrl" serializeAs="String">
                <value>https://roslyninfra.vault.azure.net:443</value>
            </setting>
            <setting name="ApplicationId" serializeAs="String">
                <value>1950a258-227b-4e31-a9cf-717495945fc2</value>
            </setting>
            <setting name="BlobContainerName" serializeAs="String">
                <value>build-retainer-cache</value>
            </setting>
            <setting name="BlobStorageSecretName" serializeAs="String">
                <value>roslyninfra-blob-storage</value>
            </setting>
            <setting name="BlobStorageAccountName" serializeAs="String">
                <value>roslyninfra</value>
            </setting>
        </BuildRetainer.Settings>
    </applicationSettings>
</configuration>